.body {
  background-color: #f5f3e2;
  margin: 0 auto;
  text-align: center;
}

nav {
  background-color: #e3ba76; /*   #c89251*/
  box-shadow: 0 0 0.2rem 0.1rem darkgrey;
}

button {
  background-color: #ac5a2c;
  border-radius: 50%;
  border-color: #ac5a2c;
  color: #f5f3e2;
}

#logo {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    box-shadow: 0 0 0.4rem 0.3rem black;
}

#landing > h1 {
  font-weight: 600;
}

.card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

footer {
    background-image: url("images/footer2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 88vh;
    margin-top: 8rem;
}

#offcanvasWithBothOptions {
  background-color: #f5f3e2;
}
.link {
  text-decoration: none;
  color: #ac5a2c;
  padding-inline: 1rem;
}

@media only screen and (max-width: 900px) {
    footer {
        height: 48vh;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        height: 20vh;
    }
}
