body {
  background-color: #f4edda;
  margin: 0 auto;
  text-align: center;
}

nav {
  background-color: #e3ba76; /*   #c89251*/
}

header {
    nav {
  box-shadow: 0 0 0.2rem 0.1rem darkgrey;
  }
}

.link {
  text-decoration: none;
  color: #ac5a2c;
  padding-inline: 1rem;

  &:hover {
    color: #83441f;
  }
}

.nav-title {
  color: #f4edda;
  font-weight: 800;
  font-size: 1.1rem;
  text-shadow: 0.1rem 0.1rem black;
}

button {
  background-color: #ac5a2c;
  border-radius: 50%;
  border-color: #ac5a2c;
  color: #f4edda;
}

.accordion-button {
  background-color: #e3ba76;
}

#logo {
  height: 320px;
  width: 320px;
  border-radius: 50%;
  box-shadow: 0 0 0.4rem 0.3rem black;
}

.title {
  color: #e3ba76;
  font-weight: 800;
  font-size: 3rem;
  text-shadow: 0.2rem 0.2rem black;
}

.card-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

footer {
  background-image: url("images/laf-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
  margin-top: 8rem;
}

@media only screen and (max-width: 900px) {
  footer {
    height: 48vh;
  }
}


@media only screen and (max-width: 600px) {
  footer {
    height: 20vh;
  }
  .col-3 {
      display: none;
  }
}
